.layout {
  position: relative;
  background: var(--surface-a);
  border: 1px solid var(--app-border-color);
  height: 420px;
  background: var(--surface-a);
}
.document-data {
  font-weight: 600;
}

.z-100 {
  z-index: 100;
}
