.custom-file-upload {
  width: 80%;
  .file-upload-container {
    border: none;
    box-shadow: none;
    border: 1px solid var(--app-border-color);
    border-radius: 0px;
    .file-upload-input {
      border: none;
      box-shadow: none;
    }
  }
  .select-file {
    width: 100%;
    border: 1px solid var(--app-border-color);
    border-radius: 0px;
    padding: 8px;
    .custom-input {
      width: 100%;
      border: none;
      font-family: var(--app-fontFamily) !important;
      font-size: 12px;
      font-weight: 600;
      &:focus {
        border: none;
      }
    }
    .icon {
      height: 44px;
      width: 26px;
    }
  }
}
