@import "../../assets/styles/theme.scss";

.dropdown {
  width: 100%;
  border-color: var(--app-borderColor);
  box-shadow: none;
  border-radius: 0;
  span {
    font-size: 12px;
    font-weight: 400;
  }
  li {
    font-size: 14px;
  }

  &:focus {
    border-color: var(--app-borderColor);
  }
}
