@import "../../assets/styles/theme.scss";

.dropdown {
  width: 100%;
  border-color: var(--app-borderColor);
  box-shadow: none;
  border-radius: 4px;
  span {
    font-size: 12px;
    font-weight: 400;
  }
  &:focus {
    border-color: var(--app-borderColor);
  }
}

.item-label {
  font-size: 12px;
  font-weight: 400;
  color: var(--app-dark-100);
}
