@import "../../assets/styles/theme.scss";

.custom-input {
  border-color: var(--app-borderColor);
  width: 100%;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;

  &:focus {
    border-color: var(--app-borderColor);
    box-shadow: none;
  }
}
.label {
  font-size: 14px;
  font-weight: 700;
  color: var(--app-dark-100);
}
