.header-container {
  width: 100%;
  display: flex;
  .header-primary-container {
    background-color: var(--app-primaryColor);
    width: 15%;
  }
  .header-secondary-container {
    background-color: var(--app-secondaryColor);
    width: 85%;
  }
}
