@import "primeflex/primeflex.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "./assets/styles/theme.scss";

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: normal;
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 40px;
  opacity: 1;
}

.word-break-all {
  word-break: break-all;
}
