.custom-button {
  font-family: var(--app-fontFamily);
  font-size: 14px;
  &:focus {
    box-shadow: none;
  }
}
.primary-button {
  background-color: var(--app-secondaryColor);
  color: var(--app-bgWhite);
  border-radius: 4px;
  border: 1px solid var(--app-secondaryColor);
  padding: 10px;
}

.primary-outline {
  background-color: var(--app-bgWhite);
  border-radius: 4px;
  padding: 10px;
  color: var(--app-secondaryColor);
  border: 1px solid var(--app-secondaryColor);
  &:hover {
    background-color: var(--app-light);
    border: 1px solid var(--app-light);
  }
}

.delete-icon {
  box-shadow: none;
  border: none;
}

.button-with-image {
  display: flex;
  align-items: center;
}

.button-image {
  margin-right: 4px;
  width: 15px;
  height: 15px;
}

.primary-button-image {
  background-color: var(--app-secondaryColor);
  color: var(--app-bgWhite);
  border-radius: 4px;
  border: 1px solid var(--app-secondaryColor);
  padding: 10px;
}
