@import "../../assets/styles/theme.scss";

.custom-button {
  font-family: $app-fontFamily;
  font-size: 14px;
  &:focus {
    box-shadow: none;
    border: none;
  }
}
.primary-button {
  background-color: $app-secondaryColor;
  color: $app-bgWhite;
  border-radius: 4px;
  border: none;
  padding: 12px;
}

.primary-outline {
  background-color: $app-bgWhite;
  border-radius: 4px;
  padding: 12px;
  color: $app-secondaryColor;
  border: 1px solid $app-secondaryColor;
  &:hover {
    background-color: #d3eaff;
    border: none;
    span {
      text-decoration: none;
    }
  }
}

.delete-icon {
  box-shadow: none;
  border: none;
}

.button-with-image {
  display: flex;
  align-items: center;
}

.button-image {
  margin-right: 4px;
  width: 15px;
  height: 15px;
}

.primary-button-image {
  background-color: $app-secondaryColor;
  color: $app-bgWhite;
  border-radius: 4px;
  border: none;
  padding: 12px;
}
