.custom-paginator .p-paginator-page {
  border: none;
  background: none;
  color: #333;
  //  font-size: 16px;
  padding: 0.5px;
}

.custom-paginator .p-paginator-page.p-highlight {
  font-weight: bold;
  color: #095192;
}

.custom-paginator .p-paginator-prev,
.custom-paginator .p-paginator-next {
  //  background-color: #095192;
  color: #095192;
  padding: 0.5px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  height: 20px;
}

//.custom-paginator .p-paginator-prev:hover,
//.custom-paginator .p-paginator-next:hover {
//  background-color: #073e6b;
//}

//.custom-paginator .p-paginator-prev {
//  margin-right: 10px;
//}

//.custom-paginator .p-paginator-next {
//  margin-left: 10px;
//}
